<h1>{{post.title}}   ${{post.price}}</h1>
<div class="well">
  <img src={{post.image}}>
</div>
<p>
  {{post.content}}
  {{post.author}}
  {{post.date}}
  {{post.location}}
</p>

{{post-update post=post updatePost2="updatePost3"}}
