<h1>{{post.title}}   ${{post.price}}</h1>
<div class="well">
  <img src={{post.image}}>
</div>
<p>
  {{post.content}}
  {{post.author}}
  posted:{{moment-from-now post.date}}
  {{post.location}}
</p>

<div class="form-group">
  {{post-update post=post updatePost2="updatePost3"}}
  {{post-delete post=post deletePost2="deletePost3"}}
</div>
